<%- include('partials/header')%>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/agregar" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Aceptar
                        </button>
                    </form>
                </div>
            </div>
        </div>  
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    <tbody>
                        <% for(var i=0;i < clients.length;i++){ %>
                            <tr>
                                <td><%= i +1%></td>
                                <td><%= clients[i].nombre%></td>
                                <td><%= clients[i].apellido%></td>
                                <td><%= clients[i].email%></td>
                                <td>       
                                    <form action="/eliminar/<%=clients[i]._id%>?_method=DELETE" method="POST"> 
                                        <input type="hidden" name="_method" value="DELETE">                               
                                        
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>         
                                    
                                    
                                    <a href="/edit/<%= clients[i]._id%>"class="btn btn-info">Actualizar</a>
                                </td>
                            </tr>
                        <% } %>                        
                    </tbody>
                </thead>
            </table>
    
        </div>      
    </div>
    
   
</div>
<%- include('partials/footer')%>